.app {
  height: 100%;
}

.appLoading,
.appStage {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.appTitle {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (min-width: 400px) {
  .appTitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 1000px) {
  .appTitle {
    font-size: 32px;
  }
}

/* App transitions */
.enter,
.appear {
  opacity: 0;
}

.exit,
.enterActive,
.appearActive {
  opacity: 1;
  transition: opacity var(--duration-default-transition);
}

.exitActive {
  opacity: 0;
  transition: opacity var(--duration-default-transition);
}
